/
  /* layout  temp */
  #temp-container {
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #temp-container img {
    width: 90%;
    max-width: 1000px;
    padding: 0 0 var(--space-32) 0;
    ;
  }
  #temp-container p {
    font-size: var(--space-32);
  }
  #temp-container a {
    color: #333;
    font-size: var(--space-20);
 

