/
  /* layout  temp */
  #temp-container {
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #temp-container img {
    width: 100%;
    max-width: 100%;
    padding: 0 0 var(--space-32) 0;
    ;
  }
  #temp-container p {
    font-size: var(--space-32);
  }
  #temp-container a {
    color: #333;
    font-size: var(--space-20);
 
}

.parallax {
    background-size: cover;
    background-attachment: fixed; /* optional, for classic parallax */
    background-repeat: no-repeat;
    background-position: center center;
}
